body,
html {
    background: #fff;
}
.topBox{
    width: 100%;
    height: 1.84rem;
    margin-bottom: .2rem;
}
.topImg{
    width: 6.98rem;
    height: 1.84rem;
    margin: 0 auto
}

.bus-top {
    width: 100%;
    height: 1rem;
    padding: 0 .22rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9;

}

.input {
    width: 4.66rem;
    height: .6rem;
    background: #F0EFEB;
    border-radius: .31rem;
    padding: 0 .16rem
}

.bus-tz {
    width: .52rem;
    height: .52rem;
}
.add-img{
    width: .34rem;
    height: .34rem;
}
.add-woc{
    font-size: .28rem;
    color: #3E3E4D;
    font-weight: bold;
    max-width: 1.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0 .05rem;
    text-align: center
}
.add-imga{
    width: .22rem;
    height: .12rem;
}

.input img {
    flex: 0 0 .34rem;
    height: .34rem;
    width: .34rem
}

.input input {
    flex: 1;
    font-size: .26rem;
    border: none;
    background: none;
    padding: 0 .16rem;
    outline: none
}

.input input::-webkit-input-placeholder {
    color: #909090;
}

.input input::-moz-placeholder {
    color: #909090;
}

.input input:-ms-input-placeholder {
    color: #909090;
}

.bus-type {
    width: 100%;
    padding: 0 .3rem;
    margin-bottom: .02rem;
}

.type-item {
    margin: 0 .05rem .22rem
}

.type-item img {
    width: 1.1rem;
    height: 1.1rem;
}

.type-item span {
    display: block;
    font-size: .24rem;
    color: #3E3E4D;
    width: 100%;
    text-align: center
}

.bus-store {
    width: 100%;
    /* margin-bottom: 1rem; */
    padding: 0 .25rem
}

.store-item {
    width: 100%;
    align-items: center;
    /* border-bottom: .02rem solid #f4f4f4; */
    margin-bottom: .28rem
}

.store-item-img {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: .22rem;
    flex: 0 0 1.28rem;
    background-image: url("../img/stor-de.png");
    background-size: cover;
    border-radius: .08rem;
    overflow: hidden;
}

.store-item-woc {
    flex: 1;
}

.store-tit {
    font-size: .32rem;
    color: #3E3E4D;
    max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.store-det {
    font-size: .24rem;
    color: #3E3E4D;
    margin: .1rem 0 .05rem
}


.store-add {
    font-size: .24rem;
    color: #CBCDD6;
}
.storeAdd-left{
    width: 3.66rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #909090
}
.storeNum{
  color: #3E3E4D
}

.lack {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff
}

.lack-box {
    display: block;
    margin: 35% 0;
    text-align: center
}

.lack-box img {
    width: 4.14rem;
    height: 4.18rem;
    margin: 0 auto
}

.lack-woc {
    font-size: .28rem;
    color: #3E3E4D;
    margin: .3rem 0 .4rem
}

button.weui-btn_zf {
    width: 2.4rem
}

.weui-form-preview::after {
    border: none
}
.weui-cells__titleno{
    width: 100%;
    text-align: center;
    font-size: .28rem;
    color: #999;
    /* display: none */
}
.noPic{
    width: 7.33rem;
    margin:3rem auto .3rem;
    height: 1.95rem;
    /* display: none */
}
.inputS{
    font-size: .28rem;
    color: #3E3E4D;
}
.notice{
    width: 7.02rem;
    height:0.64rem;
    background:rgba(248,248,248,1);
    border-radius:.32rem;
    margin:0 auto;
    padding:0 .24rem;
    align-items: center
}
.notImg{
    width: .62rem;
    height: .28rem;
    margin-right: .4rem
}
.notBox{
    flex: 1;
    font-size: .24rem;
    color: #3E3E4D;
    overflow: hidden;
    height: .64rem;
    line-height: .64rem
}
.tabBox{
    width: 100%;
    height: .64rem;
    font-size: .28rem;
    color: #909090;
    line-height: .64rem;
    margin:0.12rem 0;
    /* font-family:PingFang-SC-Bold; */
    background: #fff
}
.tabBox-fix{
    position: fixed;
    top: 1rem;
    left: 0;
    margin: 0;
    z-index: 2;
}

.selBar{
    color: #FF8E00;
    font-weight: bold;
    font-family:"PingFang-SC-Bold";
}
.store-det .mood{
    color: #FFB715
}
.store-item-imgs {
    width: 100%;
    padding-left: 1.5rem;
    margin-top: .2rem
}
.store-item-imgs img{
    width: 2.56rem;
    height: 1.92rem;
}
.store-item-box{
    margin-bottom: .7rem
}
.store-item-tits{
    align-items: center;
}
.store-tit-ico{
    background-image: url("../img/per.png");
    width: .96rem;
    height: .28rem;
    font-size: .2rem;
    color: #3E3E4D;
    font-weight: bold;
    margin-left: .1rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center
}
/* //弹框 */

.tabMask{
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    display: none;
    z-index: 1;
}
.tabMask-top{
    width: 100%;
    height: .64rem;
    font-size: .28rem;
    color: #909090;
    line-height: .64rem;
    background: #fff
}
.tabMask-bot{
    width: 100%;
    height: 8.44rem;
    background: #fff
}
.tabMask-botL,.tabMask-botR{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    background: #F3F3F3;
    padding-bottom: .5rem;
    -webkit-overflow-scrolling:touch
}
.tabMask-botL-item{
    width: 100%;
    height: .76rem;
    text-align: center;
    line-height: .76rem;
    font-size: .28rem;
    color: #3E3E4D
}
.tabMask-botL::-webkit-scrollbar,.tabMask-botR::-webkit-scrollbar {
    display: none;
}
.tabMask-botR{
    background: #fff
}
.selTM,.selTMI{
    color: #FF8E00;
    background: #fff
}
.tab-arr{
    width: .2rem;
    height: .1rem;
    margin-left: .1rem;
}
.tabAll{
    align-items: center
}
.tab-arrf{
    transform:rotate(180deg);
}
/* 缺省页 */
.lack-img-pig{
    width: 100%;
    text-align: center;
    font-size: .32rem;
    color: #A59FA8;
    display: none;
    margin-top: .3rem
}
.lack-pig{
    width: 2.2rem;
    height: 1.48rem;
    margin:0 auto
}

.swiper-container{
    height: 100%;
}
.swiper-slide{
    line-height: .7rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}