 html,body{
        width: 100%;
        height: 100%;
    }
  .hbPhone{
       width: 100vw;
       height: 100vh;
       position: relative;
       display: none
   }
 
   .bindPhone-box{
        width: 6.8rem;
        height: 5.83rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        margin: auto;
        border-radius: .1rem;
        background:rgba(0, 0, 0, 0.3);
        padding:.6rem .27rem 
    }
    h4{
        font-size: .36rem;
        color: #fff;
        text-align: center;
    }
    .bind-phone{
        width: 100%;
        padding:.15rem 0;
        font-size: .3rem;
        color: #3E3E4D;
        align-items: center;
        margin-top: .6rem;
        padding: .15rem .2rem;
        background: #fff;
        border-radius: .08rem
    }
    .phone,.codeB{
        font-size: .3rem;
        color: #3E3E4D;
        padding:0 .3rem;
        outline: none;
        border: 0;
        width: 4rem
    }
    .codeB{
        flex: 1;
        width: 2rem;
    }
    .bnt-code,.btn-yzmN{
        width:  1.78rem;
        height:.48rem;
        border-radius:.24rem;
        text-align: center;
        line-height: .44rem;
        color: #E53607;
        background:linear-gradient(0deg,rgba(249,187,52,1) 0%,rgba(252,235,157,1) 100%);
        font-size: .22rem
    }
    .btn-yzmN{
        color: #3E3E4E
    }
    .weui-btn_co{
        width: 6.26rem;
        margin-top: .4rem;
        background: none;
        color: #BC2617;
        background-image: url("../img/sy.png");
        background-size: contain;
        background-position: center;
        font-weight: bold;
        background-repeat: no-repeat
    }
    .getHb{
        width: 100%;
        height: 100vh;
        position: relative;
        /* display: none; */
        overflow: hidden;
    
    }
    .bgGethb{
        width: 100%;
        height: 100%;
    }
    .Hb_cont{
        width: 6.49rem;
        height: 6.98rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:-4rem;
        margin: auto;
        background-size: cover
    }

    .getMon{
        text-align: center;
        color: #FF4526;
        font-size: .28rem;
        margin:1.7rem auto 0;
    }
    .get-log{
        width: 1.32rem;
        height: 1.32rem;
        margin:0 auto;
    }
    .goUse,.goDown{
        width: 4.14rem;
        height: .86rem;
        background:linear-gradient(0deg,rgba(249,187,52,1) 0%,rgba(252,235,157,1) 100%);;
        margin:.3rem auto 0 ;
        font-size: .3rem;
        color: #BC2617;
        text-align: center;
        line-height: 1.02rem;
        font-weight: bold;
        border-radius: .43rem;
    }