html,
body {
    background: #f8f8f8
}
.selTop{
    width: 100%;
    padding:1rem .32rem .2rem;
    
}
.selTop-tit{
    text-align: center;
    font-size: .28rem;
    color: #3E3E4D;
}
.selTop-mon{
     color: #3E3E4D;
     font-size: .6rem;
     align-items: baseline;
     justify-content:center;
     margin-top:.2rem
}
h1{
    font-size:1rem;
}


.pay-bott {
    width: 100%;
    background: #fff;
    padding: 0 .22rem .36rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pay-bot-tit{
    font-size: .28rem;
    color: #3E3E4D
}
.pay-bot-titM{
    font-weight: bold;
}

.pay-bot-item,
.pay-bot-item2 {
    width: 100%;
    padding-bottom: .36rem;
    border-bottom: .02rem solid #F4F4F4;
    margin-bottom: .38rem;
    height: .9rem;
}

.pay-bot-item2 {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: .56rem
}

.pay-bot-itema img {
    width: .5rem;
    height: .5rem;
    margin-right: .3rem
}

.circle,
.circle2 {
    width: .4rem;
    height: .4rem;
    border: .02rem solid #CBCDD6;
    border-radius: 50%;
    margin-right: .08rem
}

.circle2 {
    margin-right: 0
}

h5 {
    font-size: .3rem;
    color: #3E3E4D;
    margin-right: .2rem
}

.pay-bot-itema span {
    font-size: .28rem;
    color: #CBCDD6
}

.pay-type img {
    width: .52rem;
    height: .52rem;
}
